<p id="alert"><%= alert %></p>
 
<h1>People</h1>
 
<% if params[:name].present? %>
  <p>Name: <%= params[:name] %>
<% end %>
<% if params[:mood].present? %>
  <p>Name: <%= params[:mood] %>
<% end %>
<% if params[:min_age].present? %>
  <p>Name: <%= params[:min_age] %>
<% end %>
<% if params[:max_age].present? %>
  <p>Name: <%= params[:max_age] %>
<% end %>
 
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Mood</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name, person %></td>
        <td><%= person.age %></td>
        <td><%= person.mood %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<hr>
 
<%= form_with(model: @person) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :age %>
    <%= form.number_field :age, min: 0, step: 1 %>
  </div>
  <div>
    <%= form.label :mood %>
    <%= form.text_field :mood %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
