<h1>People</h1>
 

<% if params[:name].present? %>
  <p>Name: <%= params[:name] %></p>
<% end %>
<% if params[:mood].present? %>
  <p>Mood: <%= params[:mood] %></p>
<% end %>
<% if params[:min_age].present? %>
  <p>Min Age: <%= params[:min_age] %></p>
<% end %>
<% if params[:max_age].present? %>
  <p>Max Age: <%= params[:max_age] %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Mood</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td>
          <a href='<%= "/people/#{person.id}" %>'>
            <%= person.name %>
          </a>
        </td>
        <td><%= person.age %></td>
        <td><%= person.mood %></td>
      </tr>
    <% end %>
  </tbody>
</table>
